﻿/*
Theme Name: Aqueduct
Theme URI: http://www.howlthemes.com/aqueduct-free-magazine-wordpress-theme/
Author: HowlThemes
Author URI: http://www.howlthemes.com
Description: Aqueduct is easy to use minimal magazine/blog theme for wordpress. It has advance theme builder which let you customize this theme without even touching a single line of code, This Theme is compatible with WooCommerce and BBPress.
Version: 2.0.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-images, flexible-header, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, blog, E-Commerce, News
Text Domain: aqueduct
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
6.0 Alignments
7.0 Clearings
8.0 Widgets
9.0 Content
	9.1 Comments
10.0 Aqueduct CSS
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/
html {
  font-style: normal;
font-weight: 400;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
.ads-container-head {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: -10px;
  padding: 1px;
  max-width: 740px;
}
.ads-container-cmnt{
  margin-top:10px;
  margin-bottom:10px;
    max-width: 720px;
}
code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}


ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}


table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  color: #fff;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #333;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
background-color: #fff;
  border: 1px solid #ddd;
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
input#author, input#email, input#url, textarea#comment{
  width: 100%;
  margin-top: 10px;
}
/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
.main-navigation ul a {
text-decoration:none;
}
.main-navigation ul {
list-style:none;
}
.main-navigation ul {
position:relative;
margin:0px;
    padding:0px;
    z-index:9999999999999999999999;
}
.main-navigation ul ul li:hover {
  background: rgba(0, 0, 0, 0.1);
}
.main-navigation ul ul li a:hover {
  background: rgba(0, 0, 0, 0.11);
}
.main-navigation ul li {
  font-weight: 700;
  float: left;
  zoom: 1;
  text-transform: uppercase;
  font-size: 14px;
}
.main-navigation ul a:hover {
color:#000;
}
.main-navigation ul li a {
  display: block;
  color: #fff;
  padding: 12px 18px;
  padding-top: 13px;
}
.main-navigation ul li:last-child a {
border-right:none;
}
.main-navigation ul li:hover {
position:relative;
}
.main-navigation ul li:hover a {
color:#fff;
}
.main-navigation ul ul {
width:220px;
visibility:hidden;
position:absolute;
top:100%;
left:0;
margin:0;
padding:0;
}
.main-navigation ul ul li {
  font-weight: 400;
  color: #fff;
  border-bottom: 1px solid rgba(200, 200, 200, 0.2);
  float: none;
}
.main-navigation ul ul li a {
border-right:none;
width:100%;
display:inline-block;
}
.main-navigation ul ul ul {
left:100%;
top:0;
}
.main-navigation ul li:hover > ul {
visibility:visible;
}
.main-navigation ul .sub-menu li {
  text-transform: none;
}
.menu-footer,
.menu-footer ul,
.menu-footer ul li,
.menu-footer ul li a,
.menu-footer{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 99999999;
}
.menu-footer:after,
.menu-footer > ul:after, .menu-footer .menu > ul:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.menu-footer #menu-button {
  display: none;
}
.menu-footer > ul > li, .menu-footer .menu > ul > li{
  float: left;
}
.menu-footer > ul > li > a, .menu-footer .menu > ul > li > a{
  padding-left: 15px;
  padding-bottom: 17px;  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}
.secondary-navigation ul li+li a:before {
  content: "/";
  padding-right: 15px;
  color: #C0C0C0;
}
ul.sub-menu li a:before {
  content: none !important;
}
.menu-footer ul ul {
  position: absolute;
  left: -9999px;
}
.menu-footer ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.menu-footer li:hover > ul, .menu-footer .menu li:hover > ul{
  left: auto;
}
.menu-footer li:hover > ul > li, .menu-footer .menu li:hover > ul > li{
  height: 35px;
}
.menu-footer ul ul ul {
  margin-left: 99%;
  top: 0;
}
.menu-footer ul ul li a {
  border: 1px solid #333;
  padding: 11px 15px;
  width: 170px;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  font-weight: 400;
  background: #fff;
}



#bottom-navigation {
float: right;
}

.secondary-navigation-center, .secondary-navigation-best{
    background: #efefef;
}
.secondary-navigation-center .menu-footer > ul > li > a, .secondary-navigation-best .menu-footer > ul > li > a{
    padding: 20px;
}
.secondary-navigation-center ul li+li a:before, .secondary-navigation-best ul li+li a:before{
    content: "";
    padding-right: 0px;
}
.site-branding-center {
    text-align: center;
}
.secondary-navigation-best {
    clear: both;
    width: 100%;
}
/*--------------------------------------------------------------
6.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
7.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}
.entry-content ul {
  margin: 0px;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
8.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}
.tagcloud a {
    color: #fff !important;
}
/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

.screen-reader-text{
display: none;
}
.recent-post-perl img {
  width: 75px;
  height: 75px;
  float: left;
}
.recent-post-perl li {
  overflow: hidden;
  margin-bottom: 10px;
  padding-bottom: 10px;
  }
.rmeta-holder {
  margin: 0px;
  float: right;
  width: 220px;
}
.rmeta-holder a {
  text-decoration: none;
  font-weight: 700;
}
.rand-post-perl li:hover img {
  -webkit-filter: grayscale(100%);
}
h3.widget-title {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0px;
  background: #333;
  color: #fff;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}
#secondary ul {
margin: 0;
padding: 0;
list-style: none;
}
#secondary ul li {
border-bottom: 1px dashed #ccc;
padding-bottom: 10px;
margin-bottom: 10px;
}
#secondary aside {
padding-bottom: 20px;
padding-top: 0px;
margin-bottom: 10px;
}

/*--------------------------------------------------------------
9.0 Content
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}
.hentry .thumbnail-container {
  margin-top: 20px;
  float: left;
  margin-right: 20px;
}
.entry-content {
  overflow: hidden;
  margin-bottom: 30px;
}
.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.cat-links, .tags-links {
  margin-top: 30px;
}
.cat-links i, .tags-links i {
  padding-right: 10px;
}
.cat-links a, .tags-links a {
  text-decoration: none;
  font-size: 14px;
  background: #333;
  color: #fff;
  padding: 5px;
  margin-right: 5px;
  border-radius: 2px;
}
.nav-links .nav-previous {
  width: 48%;
  float: left;
}
.nav-links .nav-next {
  width: 48%;
  float: right;
  text-align: right;
}
.nav-links {
  overflow: auto;
}
.nav-links a {
  text-decoration: none;
}
.post-navss {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
9.1 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
.comment-author.vcard b {
text-transform: uppercase;
padding-left: 10px;
}

.comments-area .comment-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.comment-meta {
  overflow: auto;
  margin-right: -20px;
  margin-left: -20px;
  border-bottom: 1px solid #ddd;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-top: -8px;
}
.reply {
  margin-left: -21px;
  margin-bottom: -21px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #DDDDDD;
  background: #F2F2F2;
}
.reply a {
  text-decoration: none;
  color: #000;
}
.comments-area article {
  background: #FFFFFF;
  padding: 20px;
  margin-bottom: 20px;
  overflow: auto;
  border: 1px solid #ddd;
}

.comment-author.vcard img {
  border-radius: 100%;
width: 64px;
height: 64px;
float: left;
}
span.says {
display: none;
}
.comment-metadata {
float: left;
width: 50%;
margin-left: 10px;
font-size: 14px;

}
.comment-content, .reply {
    float: left;
    clear: both;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}
/*----------------------Captions-----------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*---Galleries---*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
10.0 SherPress Css
--------------------------------------------------------------*/

/*---------------------Navbar----------------*/
.searchboxcontainer {
width: 45px;
height: 46px;
float: right;
text-align: center;
color: #fff;
cursor: pointer;
padding-top: 10px;
font-size: 16px;
}
.main-navigation {
float: left;
width: 750px;
}
.drag-navbar {
background: #333;
height: 46px;
}
.srchcontainerin {
  background: #333;
  float: right;
  padding: 10px;
}
.srchcontainer {
width: 1100px;
margin: 0 auto;
overflow: auto;
display: none;
  margin-bottom: -54px;
    position: relative;
  z-index: 9999999999;
}

/*-------------------Header------------------------*/

header#masthead {
background: #fff;
padding-top: 20px;
padding-bottom: 20px;
}
.container {
width: 1100px;
margin: 0 auto;
}
.site-title {
font-weight: 700;
font-size: 48px;
line-height: 48px;
margin-bottom: 10px;
margin-top: 0px;
}
.site-title a {
color: #4b4b4b;
text-decoration: none;
}
.site-description {
color: #999;
font-size: 14px;
margin: 0px;
}
#bottom-navigation {
float: right;
margin-top: 34px;
}

.site-branding, .site-branding-best{
float: left;
height: 79px;
width: 400px;
}
.site-branding img, .site-branding-best img{
    max-width: 400px;
    max-height: 79px;
    width: auto;
    height: auto;
}
.site-branding-center img{
    max-width: 100%;
    height: auto;
}


.drag-social-button-center {
    width: 100%;
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
}
.drag-social-button-center ul {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
}
.drag-social-button-center ul li {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 50%;
}
.drag-social-button-center ul li a {
    background: #3E3E3E;
    display: block;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding-top: 11px;
    float: left;
    margin-right: 10px;
}

.drag-social-button-best {
    width: 420px;
    float: right;
    margin-top: 20px;
}

.drag-social-button-best ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float:right;
}
.drag-social-button-best ul li {
    display: inline-block;
}
.drag-social-button-best ul li a {
    color: #fff;
    display: block;
    width: 38px;
    height: 38px;
    margin-left: 10px;
    text-align: center;
    padding-top: 8px;
}
.drag-social-button-best .fblink{
background: #3b5998;
}
.drag-social-button-best .twitterlink{
background:#55acee;
}
.drag-social-button-best .gpluslink{
background:#dd4b39;
}
.drag-social-button-best .pinlink{
background:#cc2127;
}
.drag-social-button-best .instalink{
background:#3f729b;
}
.drag-social-button-best .linkdlink{
background:#000000;
}
.drag-social-button-best .ytubelink{
background:#cd201f;
}
.drag-social-button-best .rsslink{
background:#f26522;
}
.drag-social-button-best ul li a:hover{
background:#BABABA;
}
.masthead-logo-social {
    overflow: hidden;
    margin-bottom: 20px;
}
/*--------------------------------------------------------------
Social Icon and Breaking News
--------------------------------------------------------------*/
.break-social {
background: #efefef;
overflow: hidden;
}
ul.newsticker {
margin: 0;
padding: 0;
list-style: none;
width: 400px;
float: right;
margin-top: 3px;
font-size: 16px;
}
.newsticker-holder span {
color: #ffffff;
padding: 3px;
padding-right: 10px;
padding-left: 10px;
text-transform: uppercase;
position: relative;
float:left;
}
.newsticker-holder {
width: 520px;
padding-top: 10px;
padding-bottom: 10px;
float:left;
}
ul.newsticker a {
color: #000;
}
.drag-social-button ul{
    margin:0;
    padding:0;
    list-style:none;
}
.drag-social-button ul li{
      display: inline-block;
    font-size:16px;
    background:#efefef;
    text-align:center;
    margin-left:-5px;
    border-right:1px solid #dedede;
    border-left:1px solid #dedede;
}
.drag-social-button a{
    text-decoration:none;
    color:#000;
    transition: color .3s;
   -webkit-transition: color .3s;
   -moz-transition: color .3s;
   -o-transition: color .3s;
   -ms-transition: color .3s;
    height:50px;
    width:50px;
    display: block;
}
.drag-social-button i{
    padding-top:17px;
}
.drag-social-button {
float: right;
}
/*--------------------------------------------------------------
Featured Posts
--------------------------------------------------------------*/
.featured-post {
width: 250px;
height: 200px;
overflow: hidden;
margin-left:10px;
margin-top:10px;
float:left;
position: relative;
}
.thumbnail-container {
width: 250px;
height: 200px;
overflow: hidden;
}
.featured-post img {
height: 200px;
min-width: 100%;
}
.featured-post img, #cat-slider img, #carouselpost img, .grid-posts-big img, .grid-posts-small img, .blogposts img, .popular-posts img{
-moz-transition: all .6s ease;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}
.featured-post:hover img, #cat-slider img:hover, #carouselpost li:hover img, .grid-posts-big:hover img, .grid-posts-small:hover img, .blogposts:hover img, .popular-posts:hover img{
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
margin: auto auto;
}
.featured-content h2 a {
font-weight: 400;
color: #fff;
text-decoration: none;
}
.featured-post h2 {
margin-right: 8px;
margin-left: 8px;
  margin-bottom: 5px;
  margin-top: 0px;
  font-size:16px;
}
.featured-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  overflow: hidden;
}

#cat-slider .bjqs-caption, .featured-content, .grid-posts-big .post-content-holder, .grid-posts-small h2, .popular-posts h2{
   background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -webkit-linear-gradient(top, rgba(25,35,45,0) 0%,rgba(0,0,0,0.8) 100%);
  background: linear-gradient(to bottom, rgba(25,35,45,0) 0%,rgba(0,0,0,0.8) 100%);
  text-shadow: 0px 1px 1px #000;
}
#featpost1 {
width: 580px;
height: 410px;
margin-left: 0px;
}
#featpost1 h2 a{
  font-size: 20px;
}
#featpost1 .thumbnail-container {
width: 586px;
height: 420px ;
}
#featpost1 img {
height: 420px;
width:586px;
-moz-transition: all .6s ease;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}
#featpost1:hover img{
-webkit-transform: scale(1.2);
margin: auto auto;
}
p.entry-meta {
color: #fff;
}
#featpost1 .entry-meta i {
padding-right: 10px;
padding-left: 20px;
}
#featpost1 .entry-meta a {
color: #fff;
text-decoration: none;
text-transform: uppercase;
}

.featpostholder {
overflow: auto;
margin-bottom: 55px;
}
/*--------------------------------------------------------------
Slider
--------------------------------------------------------------*/
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide {
  margin-left: -1px !important;
  padding-left: 1px;
}ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
h2.bjqs-caption{display:block;width:100%;margin:0;padding:4%;position:absolute;bottom:0;}
#cat-slider img {
min-width: 100% !important;
}
#cat-slider .bjqs-controls li a {
background: rgba(47, 47, 47, 0.8);
color: #fff;
text-decoration: none;
padding: 15px;
font-size: 25px;
}
#cat-slider .bjqs-caption a {
color: #fff;
text-decoration: none;
  font-style: normal;
  font-weight: 400;
}
#cat-slider {
  margin-bottom: 35px;

}
.slider-title {
width: 170px;
text-align: center;
top: 0;
position: absolute;
padding-top: 10px;
padding-bottom: 10px;
}
.slider-title a {
color: #fff;
text-decoration: none;
text-transform: uppercase;
}
/*--------------------------------------------------
Main Outer
-----------------------------------------------------------*/
#primary.content-area {
  width: 770px;
  float: left;
  border-right: 1px solid #ddd;
  padding-right: 30px;
}
#secondary.widget-area {
width: 300px;
float: right;
}
.container.main-outer {
margin-top: 35px;
overflow: auto;
}

/*----------------------------
 Tiny Carousel
 ------------------------*/

#carouselpost {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}
#carouselpost .viewport {
    height: 280px;
    overflow: hidden;
    position: relative;
}
#carouselpost .disable {
    visibility: hidden;
}

#carouselpost .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

#carouselpost .overview li {
    float: left;
    margin: 0 20px 0 0;
    height: 180px;
    width: 300px;
 }
#carouselpost img{
    width:300px;
    height:180px;
}
#carouselpost i {
margin-right: 5px;
}
#carouselpost .entry-author a {
padding-right:5px;
}
p.meta-holder {
  background: rgb(239, 239, 239);
  padding: 4px 14px 4px 14px;
  margin:0px;
  overflow: hidden;
  color: rgb(124, 124, 124);
}
.imgcarholder {
  width: 300px;
  height: 180px;
  overflow: hidden;
}
p.meta-holder a {
  color: #7C7C7C;
}
.meta-holder span.comment-count {
  position: relative;
  float: right;
}
.meta-holder span.time-drag {
  position: relative;
  float: left;
}
#carouselpost h2 {
margin-top: 5px;
font-weight: 400;
font-size: 22px;
margin-bottom: 0px;
}
#carouselpost h2 a {
color: #000;
text-decoration: none;
}
.titlecatholder {
height: 45px;
background: #333;
margin-bottom: 14px;
}
.titlecatholder span {
font-size: 16px;
text-transform: uppercase;
padding: 12px;
padding-bottom: 9px;
position: absolute;
padding-right: 15px;
padding-left: 15px;
}
.titlecatholder span a {
color: #fff;
text-decoration: none;
}
.navigator-holder a {
color: #fff;
text-decoration: none;
padding: 11px;
padding-right: 15px;
padding-left: 15px;
font-size: 19px;
}
.navigator-holder a:hover {
  background: rgb(210, 63, 80);
  color: #fff;
}
.navigator-holder {
position: absolute;
right: 0px;
margin-top: 9px;
margin-right: -1px;
}
a.buttons.prev {
margin-right: -3px;
}


.meta-holder a {
color: #333;
text-decoration: none;
}
.meta-holder {
font-size: 14px;
}


/*----------------------------
 Grid Post
 ------------------------*/

.grid-posts-big img {
min-width: 477px;
height: 247px;
}
.grid-posts-big {
width: 477px;
height: 247px;
overflow: hidden;
margin-bottom: 14px;
float: left;
position: relative;
}
.grid-posts-big .post-content-holder h2 {
margin: 0px;
font-size: 22px;
}
.grid-posts-big .post-content-holder a {
color: #fff;
text-decoration: none;
font-weight: 400;
}
.grid-posts-big .post-content-holder, .grid-posts-small h2{
bottom: 0;
  position: absolute;
  padding: 10px;
  color: #fff;
  text-align: center;
  width: 100%;
}
.grid-posts-big .post-content-holder i {
padding-right: 5px;
}
.grid-posts-big .post-content-holder span {
padding-right: 10px;
}
.grid-posts-small img {
height: 160px;
min-width: 250px;
}
.grid-posts-small {
width: 250px;
height: 160px;
overflow: hidden;
margin-bottom: 14px;
float:right;
position: relative;
}
.grid-posts-small h2 a {
color: #fff;
text-decoration: none;
}
.grid-posts-holder {
  overflow: auto;
  margin-bottom: 30px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 20px;
}.grid-posts-small h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

/*----------------------------
 Simple Posts
 ------------------------*/
 .simple-posts {
margin-bottom: 40px;
}
.blogposts img {
width: 360px;
height: 220px;
}
.blogposts {
width: 360px;
margin-bottom: 22px;
}
.hldrblog4 {
  width: 360px;
  height: 220px;
  overflow: hidden;
}
.blogposts h2 {
margin: 0px;
}
.blogposts .entry-metatag .time-drag {
  position: relative;
  float: left;
}
.blogposts .entry-metatag .comment-count {
  position: relative;
  float: right;
}
.blogposts .entry-metatag {
text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
  background: #efefef;
  padding: 4px;
  padding-left: 14px;
  padding-right: 14px;
  overflow: hidden;
  height: 29px;
  color: rgb(124, 124, 124);
}
.entry-metatag a{
  color: rgb(124, 124, 124);
}
.entry-metatag i {
padding-right: 5px;
}
.entry-metatag span {
margin-right: 10px;
}
.blogposts h2 {
font-size: 22px;
font-weight: 400;
height:66px;
text-transform: none;
}
.blogposts a {
color: #333;
text-decoration: none;
}
element.style {
}
.blogposts.left-posts {
float: left;
}
.blogposts.right-post {
float: right;
}

.has-sub i {
  padding-left: 10px;
}
.entry-content-hldr {
  padding-top: 0px;
}
.blog-cnt-holder {
  overflow: auto;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}




.simple-posts article {
  overflow: hidden;
  margin-bottom: 30px;
  padding-bottom: 30px;
  height: 200px;
  border-bottom: 1px solid #ddd;
}
.simple-posts article img {
width: 220px;
height: 170px;
float: left;
}
.blog-content-hldr {
width: 500px;
float: right;
}
.blog-content-hldr h2 {
max-height: 72px;
}
.blog-content-hldr h2 {
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 36px;
  overflow: hidden;
}
.blog-content-hldr a {
text-decoration: none;color:#333;
}
.blog-content-hldr p {
  margin-bottom: 0px;
  margin-top: 10px;
}
/*--------------------------
Stars Rating
-------------------------*/
.starsholder {
background: rgba(0, 0, 0, 0.38);
color: rgb(255, 223, 0);
position: absolute;
padding: 5px;
padding-right: 10px;
padding-left: 10px;
}
#cat-slider .starsholder {
right: 0;
}
/*------------------------------
Popular Posts
---------------------*/
.popular-posts img {
width: 300px;
}
.popular-posts {
overflow: hidden;
margin-bottom: 20px;
  position: relative;
  height: 200px;

}
.popular-posts h2 {
  font-size: 20px;
  font-weight: 400;
  overflow: hidden;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 0px;
  padding: 10px;
  width: 100%;
}
.popular-posts h2 a {
color: #fff;
text-decoration: none;
}
.rand-post-perl img {
  width: 299px;
  height: auto;
}
.rand-post-perl h2 {
  margin: 0;
}
.rand-post-perl h2 a {
  color: #333;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}
.rand-post-perl li {
  border-bottom: none !important;
}
/*---------------------------------
Footer
---------------------------*/


.site-footer{
background: rgb(45, 45, 45);
  margin-top: 30px;
}
.three-column-footer a {
color: #fff;
}
.three-column-footer ul {
list-style: none;
padding: 0px;
margin: 0px;
}
.three-column-footer aside {
width: 33.33%;
float: left;
padding: 30px;
}
.three-column-footer {
background: rgb(45, 45, 45);
overflow: hidden;
color: #efefef;
}
.three-column-footer h2 {
font-size: 28px;
margin: 0px;
margin-bottom: 10px;
}
.copyright {
  background: rgb(26, 26, 26);
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.copyright-text {
  width: 50%;
  float: left;
  color: #efefef;
}
.back-top {
  text-align: right;
  width: 50%;
  float: right;
}

.back-top a {
  color: #fff;
  text-decoration: none;
}
.back-top i {
  margin-left: 10px;
}
/*--------------------
hentry
-----------*/
.archive-description h2 {
margin: 0px;
}
.archive-description {
background: rgb(239, 239, 239);
padding: 10px;
padding-top: 30px;
font-weight: 700;
}
.hentry h2, .hentry h1{
font-weight: 700;
font-style: normal;
font-size: 50px;
margin: 10px;
margin-left: 0px;
}
.hentry h2 a {
color: #333;
text-decoration: none;
}
.hentry {
font-size: 18px;
border-bottom: 1px solid #ddd;
padding-bottom: 30px;
}
.hentry .entry-meta {
  font-size: 14px;
  text-transform: uppercase;
  overflow: hidden;
}
.entry-meta .starsholder {
  position: relative !important;
  width: 110px;
  background: transparent;
  float: left;
padding:0px;
}
.postdcp {
  float: left;
}
.hentry .entry-meta a {
  color: #000;
  text-decoration: none;
  padding-left: 10px;
}
.entry-meta span {
  padding-right: 14px;
}
.read-more-button a {
color: #fff;
text-decoration: none;
padding: 10px;
padding-right: 15px;
padding-left: 15px;
}
.read-more-button a:hover {
background: #000;
color:#fff;
}
.read-more-button {
margin-top: 10px;
margin-bottom: 10px;
}
.hentry img {
max-width: 100%;
height:auto;
}
/*------------------------------------------------------
Numbered Page Navigation
----------------------------------------------*/
.paging .nav-links {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.paging .nav-links a, .paging .nav-links span {
  background: #333;
  color: #fff;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 10px;
  float: left;
  text-decoration: none;
  font-size: 18px;
}

/*------------------------------------------
Woocommerce
----------------------------*/
.star-rating {
  color: rgb(230, 255, 73);
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
  background: #efefef;
  padding: 20px;
  width: 60%;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  color: #fff;
  border-radius: 0px;
}
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
  width: 100px;
  height: 40px;
}
.woocommerce a.remove {
  background: #333;
  color: #fff !important;
  padding: 0px;
  line-height: .75;
}
p.myaccount_user {
  background: #e9ffd9;
  border: 1px solid #a6ca8a;
  padding: 20px;
  line-height: 50px;
}
p.myaccount_user strong {
  text-transform: uppercase;
  background: #ffecec;
  border: 1px solid #f5aca6;
  padding: 2px;
  padding-right: 10px;
  padding-left: 10px;
}
p.myaccount_user a {
  color: #000DFF;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
  background: #efefef;
  padding: 10px;
  border: 1px solid #ccc;
}
.woocommerce li {
  border-bottom: none !important;
}
/*----------------------------------------
bbpress
---------------------------------*/

/*--------------------------
Widgets
---------------------------*/
.tagcloud a {
  background: black;
  text-decoration: none;
  font-size: 14px !important;
  padding: 10px;
  line-height: 46px;
  margin-right: 8px;
  border-radius: 3px;
  text-transform: uppercase;
    white-space: nowrap;

}
.tagcloud a:hover {
  color: #fff;
}
.widget_categories li {
  background: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: none !important;
  color: #efefef;
}
.widget_categories a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
.widget_categories li:hover {
  background: rgb(210, 63, 80);
}
.widget_categories a:hover {
  color: #fff;
}
/*------
404
------*/

.error-404 h3{
  font-size: 30px;
}
.error-404 h3, .fourzerofour{
  color: rgb(210, 63, 80);
}
.error-404{
  text-align:center;
}
.fourzerofour {
  font-size: 150px;
  line-height: 150px;
}
.fourzerofour i {
  font-size: 120px;
}
#recent-posts-3 ul li {
  margin-bottom: 10px;
}
/*----------------------------------------------------
SlickNav
------------------------------------------------*/
.tinynav, .tinynav2{ display: none }
.main-navigation .tinynav {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #333;
  border: none;
  color: #fff;
  outline: none;
  width: 100%;
  font-size: 24px;
  height: 45px;
  cursor: pointer;
}
.secondary-navigation .tinynav {
  width: 100%;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  color: #fff;
  padding: 9px;
}
.globetoogle {
  float: right;
  background: rgb(51, 51, 51);
  padding: 7px;
  font-size: 24px;
  color: #fff;
  padding-right: 14px;
  padding-left: 14px;
  cursor: pointer;
  display: none;
}
article .cat-links a, article .tags-links a {
    margin-bottom: 5px;
    display: inline-block;
}
/*--------------------------------------------------
Media Queries
---------------------------------------------------*/
@media only screen and (max-width: 1118px){
  .container, .srchcontainer{
    width:960px;
  }
.newsticker-holder {
  width: 510px;
}
#primary.content-area {
    width: 650px;
  padding-right: 10px;
  }
  #secondary.widget-area {
  width: 310px;
  padding-left: 10px;
}
#secondary aside {
   padding: 0px;
     padding-bottom: 20px;
  }
  #cat-slider li{
      width: 640px !important;

  }
  #cat-slider img{
      width: 640px !important;

  }
  .grid-posts-big {
  width: 390px;
}
.grid-posts-small {
  width: 240px;
  }
  .grid-posts-big img {
  min-width: 390px;
}
.blogposts, .hldrblog4, .blogposts img {
  width: 315px;
  }

.blog-content-hldr {
  width: 410px;
}
#bottom-navigation {
  width: 550px;
}
#bottom-navigation > ul > li > a {
  padding-left: 15px;
}
#featpost1 .thumbnail-container {
  width: 440px;
}
#featpost1 {
  width: 440px;
  }
.three-column-footer aside{
    padding-left: 10px;
  padding-right: 10px;
}
}
@media only screen and (max-width: 970px){
.container, .srchcontainer{
    width:740px;
  }
 .tinynav{ display: block; }

 .main-navigation ul, .secondary-navigation ul{display: none;}
 .main-navigation{
  width: 690px;
}
#bottom-navigation {
  width: 338px;
  }
  #bottom-navigation {
  margin-top: 19px;
}
.drag-social-button {
  float: left;
  position: absolute;
  display: none;
}
.globetoogle {
  display:block;
}
.hldrblog4 {
  width: 360px;
  }
#featpost1, #featpost1 .thumbnail-container {
  width: 480px;
}
#featpost4 .thumbnail-container, #featpost5 .thumbnail-container {
  width: 375px;
}
#featpost5 {
  width: 365px;
}
#featpost4 {
  margin-left: 0px;
  width: 365px;
}
#cat-slider li, #cat-slider img{
      width: 740px !important;

  }
  #primary.content-area{
  width: 740px !important;
  padding-right: 0px;
  border-right: none;
}
   .grid-posts-big {
    width: 477px;
}
.grid-posts-small {
  width: 250px;
  }
  .grid-posts-big img {
  min-width: 477px;
}
.blogposts {
    width: 364px;
  }
  .blogposts img {
   width: 364px;
  height: 220px;
}
.blog-content-hldr {
   width: 510px;

}
#secondary aside {
  width: 300px;
}
#secondary.widget-area {
  width: 100%;
  background: whitesmoke;
  padding: 30px;
  float: left;
}
li.bjqs-slide {
   margin-left: 0px !important;
   padding-left: 0px;
}
.rmeta-holder {
  width: 140px;
}
.drag-social-button-best {
    float: left;
    width: 100%;
    max-width: 100%;
}
.drag-social-button-best {
    float: left;
}
.drag-social-button-best ul li a {
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
}
.drag-social-button-best ul {
    float: left;
}
.site-branding-best {
    width: 100%;
    max-width: 100%;
}
}
@media only screen and (max-width: 740px){
.container, .srchcontainer{
  width:530px;
}
.ads-container-head {
  width: 468px;
  overflow: hidden;
}
.main-navigation {
  width: 450px;
}
#bottom-navigation {
  width: 128px;
}
.newsticker-holder span {
  display: none;
}
.newsticker-holder {
  width: 400px;
}
#featpost1, #featpost1 .thumbnail-container{
  width:530px;
}
#featpost1 img {
  min-width: 540px;
}
#featpost2, #featpost3, #featpost4, #featpost5{
  width:250px;
  height:200px;
  margin:0px;
  margin-top: 30px;
}
#featpost2, #featpost4{
margin-right: 30px;
}

#primary.content-area, #cat-slider li, #cat-slider img{
      width: 530px !important;
  }
  .grid-posts-big .post-meta-holder {
  display: none;
}
.grid-posts-big, .grid-posts-big img {
  width: 530px;
  height: 300px;
}
.grid-posts-big .post-content-holder {
margin-top: -88px;
  font-size: 18px;
}
.grid-posts-big .post-content-holder h2 {
  height: 60px;
  }
  .grid-posts-small, .grid-posts-small img {
  width: 530px;
  height: 300px;
}
.blog-content-hldr {
  width: 300px;
}
.three-column-footer aside {
  width: 100%;
}
.blogposts {
  width: 530px;
  float: none !important;
}
.blogposts img, .hldrblog4{
  min-width: 530px;
  height: 319px;
}
#featpost1 img {
  min-width: 100%;
  height: 100%;
}
.blog-content-hldr p {
  margin-top: 18px;
}
.rmeta-holder {
  width: 220px;
  float: left;
  margin-left: 10px;
}
}
 @media only screen and (max-width: 530px){
.ads-container-head {
  width: 300px;
  overflow: hidden;
}
.hentry h2, .hentry h1 {
  font-size: 26px;
}
#bottom-navigation {
  width: 128px;
}
.main-navigation {
  width: 290px;
}
#bottom-navigation {
  width: 100%;
  float: left;
}
.newsticker-holder, ul.newsticker{
  width: 270px;
}
.drag-social-button ul li {
  width: 37px;
  }
#featpost1, #featpost1 .thumbnail-container{
  width:340px;
  height:250px;
}
#featpost1 img {
  min-width: 350px;
}
#featpost2, #featpost3, #featpost4, #featpost5{
  width:340px;
  height:200px;
  margin:0px;
  margin-top: 30px;
  float:left;
}
.thumbnail-container {
  width:350px;
  height: 200px;
  overflow: hidden;
}
.entry-meta span {
  padding-right: 0px;
  font-size: 14px;
}
#cat-slider li, #cat-slider img, #primary.content-area, .container, .srchcontainer{
      width: 340px !important;
  }
  #cat-slider, .bjqs-wrapper, ul.bjqs, .bjqs-slide{
  height: 300px !important;
}
#cat-slider img {
  min-height: 300px !important;
}
  #cat-slider .bjqs-caption a {
  font-size:18px;
}
#cat-slider .bjqs-controls li a {
  padding: 10px;
    top: 40% !important;
}
.grid-posts-big, .grid-posts-big img, .grid-posts-small, .grid-posts-small img {
  width: 340px;
  height: 250px;
}
#cat-slider .bjqs-caption{
  background: rgba(51, 51, 51, 0.7);
}
.blogposts img, .hldrblog4{
  min-width: 340px;
  height: 219px;
}
.blogposts {
  width: 340px;
  overflow:hidden;
}
.blog-content-hldr {
  width: 340px;
  padding: 20px;
  padding-top: 0px;
  text-align: center;
}
.simple-posts article img {
  width: 340px;
  height: 240px;
}
.site-branding{
  width:340px;
}
.simple-posts article, .blog-content-hldr h2{
 height: auto;
}
}
 @media only screen and (max-width: 340px){
.main-navigation {
  width: 250px;
}
.newsticker-holder, ul.newsticker{
  width: 240px;
}
.drag-social-button ul li {
  width: 33px;
  }
#featpost1 img, .thumbnail-container{
  min-width: 300px;
}
.srchcontainer, .container, .site-branding, #bottom-navigation, #primary.content-area, #featpost2, #featpost3, #featpost4, #featpost5, #featpost1, #featpost1 .thumbnail-container, #cat-slider li, #cat-slider img, .grid-posts-big, .grid-posts-big img, .grid-posts-small, .grid-posts-small img, .blogposts img, .blogposts, .blog-content-hldr, .simple-posts article img{
  width:300px !important;
}
#secondary.widget-area{
  padding:0px;
}
.rmeta-holder {
  width: 190px;
  }
  .howl-sharing-buttons {
  width: 304px;
}
}
