/******************************************************************

Stylesheet: Login Stylesheet


******************************************************************/
body {
	background-color:#c3c3c3;
}
.login h1 a {
  background: url(../img/dkt.jpg) no-repeat top center;
	background-size:100%;
  width: 320px;
  height: 275px;
  text-indent: -9999px;
  overflow: hidden;
  padding-bottom: 15px;
  display: block;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
.login form {
	border-radius:3px;
}
.login label,
.login #backtoblog a, 
.login #nav a {
	color:#333;
}
.login #nav a:hover {
	color:#fff;
	text-decoration:underline;
}
#backtoblog {
	display:none;
}
.wp-core-ui .button-primary {
	background: #3c3432;
	border:0;
	box-shadow: 0 1px 0 #3c3432;
	text-shadow: none;
}
.wp-core-ui .button-primary:hover {
	background:#728c51;
	
}