/******************************************************************
Theme Name: Drunken Kraken Tavern - Foundation
Theme URI: http://drunkenkrakentavern.com/
Description: A custom theme based of JointsWP
Author: Adam Ritchie
Author URI: http://adam4ever.ca
Version: 0.1 (In Development)
License: GNU General Public License & MIT
License URI: http://www.gnu.org/licenses/gpl-2.0.html
******************************************************************/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Vollkorn+SC');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
/*
Title Font - Display font - Vollkorn?
Heading Font - Vollkorn
Body Font - Noto Sans
*/

body {
	font-size:15px;
	font-family:'Noto Sans', Arial, sans-serif;
}

/* Headings */
h1, h2, h3, h4 {
	font-family:'Vollkorn SC', Gotham, serif;
}
h4.wigettitle {
	font-size:1.2rem;
}
header h1 {
	margin-bottom:0;
	text-align:center;
}
header h1 > a {
	font-size:1.7rem;
	font-family:'Fredericka the Great';
	color:#000;
	text-transform:uppercase;
}
.top-bar {
	background-color:#eee;
	border-bottom:1px solid #ddd;
}
.top-bar ul {
	background-color:#eee;
}