/******************************************************************

Stylesheet: Login Stylesheet

This stylesheet is loaded is only on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

Make sure functions/admin.php is activated in your functions.php file.

This stylesheet is turned off by default.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/
body {
	background-color:#888;
}
.login h1 a {
  background: url(../images/dkt.jpg) no-repeat top center;
	background-size:100%;
  width: 320px;
  height: 275px;
  text-indent: -9999px;
  overflow: hidden;
  padding-bottom: 15px;
  display: block;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
.login form {
	border-radius:3px;
}
.login label,
.login #backtoblog a, 
.login #nav a {
	color:#333;
}
.login #nav a:hover {
	color:#fff;
	text-decoration:underline;
}
#backtoblog {
	display:none;
}
.wp-core-ui .button-primary {
	background: #3c3432;
	border:0;
	box-shadow: 0 1px 0 #3c3432;
	text-shadow: none;
}
.wp-core-ui .button-primary:hover {
	background:#728c51;
	
}